{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center;">
        <img src="{% static 'img/pokebola.png' %}" width="150" height="150">
        <header>
            <h1 style="font-size: 5em;">PokéSearch</h1>
        </header>
        <main>
            <form id="searchForm" method="get" style="display: flex; justify-content: center; align-items: center;">
                <input type="text" id="query" name="query" placeholder="Enter Pokémon's Name or Id" style="width: 250px; height: 32px; font-size: 1.2em; text-align: center; margin-right: 10px;">
                <button type="submit" class="btn btn-outline-primary" style="height: 34px;">Buscar</button>
            </form>
        </main>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var query = document.getElementById('query').value.trim();
        if (query !== '') {
            fetch(`/buscar?query=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        window.location.href = `/pokemon/${data.name}`;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });
});
</script>
{% endblock %}
